.line2{
    background-color: blue;
    height: 3px;
    width: 158px;
    margin-top: -20px;
}
.contact{
    font-size: 30px;
}
.feedback-box{
    height: 100px;
    width: 250px;
    margin-top: 21px;
}
.submit-button{
    margin-top: -108px;

}
.name{

    margin-left: 56px;
}
.phone{
    margin-left: 52px;
}
.mail{
    margin-left: 81px;
}
form{
    font-size: 30px;
    margin-top: 24px;
    margin-left: 12px;
    line-height: 53px;
}